.dashLink:hover {
    background-position: left !important;
}

.dashLink:active {
    -moz-box-shadow:    inset 0 0 10px black;
    -webkit-box-shadow: inset 0 0 10px black;
    box-shadow:         inset 0 0 10px black;
}


.customBtn:hover {
    border-top-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.customBtn:hover > p {
    animation: smallBounce 2s ease-in-out;
}

.customBtn:active {
    -moz-box-shadow:    inset 0 0 2.5px #000000;
    -webkit-box-shadow: inset 0 0 2.5px #000000;
    box-shadow:         inset 0 0 2.5px #000000;
}

.loginAlternativeBtn:hover {
    border-radius: 25px !important;
    transition: 0.5s;
}

/* .foldableCompanyCard {
    transition: height 0.05s ease-in-out;
    
} */

/* .foldableCardContent {
    transition: opacity 0.5s ease-in-out;
} */


@keyframes smallBounce {
    0%, 10%, 20%  {
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
    5%  {
        transform: translateY(-5px);
        -webkit-transform: translateY(-5px);

    }
    15% {
        transform: translateY(-2.5px);
        -webkit-transform: translateY(-2.5px);   
    }
  }